<header class="fixed inset-x-0 top-0 z-40 py-2 bg-gray-300 sm:py-2">
  <div class="px-4 mx-auto sm:px-6 lg:px-4 max-w-7xl">
    <div class="flex items-center justify-between h-16 lg:h-[72px]">
      <!-- Logo -->
      <div class="flex items-center flex-shrink-0 ml-4 lg:ml-0">
        <a href="#" title="" class="inline-flex">
          <img class="w-auto h-16" src="../assets/images/logo.png" alt="Logo" />
        </a>
      </div>

      <!-- Desktop Menu -->
      <div
        class="hidden lg:flex lg:items-center lg:ml-16 xl:ml-14 lg:space-x-5">
        <a
          *ngFor="let menu of menus"
          [href]="menu.link"
          title="{{ menu.title }}"
          class="text-sm font-medium text-gray-900 transition-all duration-200 rounded hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
          {{ menu.title }}
        </a>
      </div>
      <a
        target="_blank"
        class="float-right"
        href="https://www.instagram.com/sangatti_engenharia/profilecard/?igsh=OXk1dDE1ejRvYWll"
        ><img src="../../assets/images/instagram.png" width="20px" />
      </a>
      <!-- Mobile Menu Button -->
      <button
        (click)="toggleMenu()"
        type="button"
        class="p-2 -m-2 text-gray-900 transition-all duration-200 lg:hidden hover:text-gray-700">
        <svg
          class="w-6 h-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>

    <!-- Mobile Menu -->
    <div class="lg:hidden" *ngIf="showMenu" [class.block]="showMenu">
      <nav class="flex flex-col mt-4 space-y-2">
        <a
          *ngFor="let menu of menus"
          [href]="menu.link"
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-gray-100 rounded-md hover:bg-gray-200">
          {{ menu.title }}
        </a>
      </nav>
    </div>
  </div>
</header>
