<section>
  <app-header></app-header>

  <div class="relative mt-20 bg-white">
    <a href="https://wa.me/5511980720119" target="_blank" title="">
      <img
        *ngIf="!isMobile"
        class="object-cover object-right w-full h-full lg:object-center"
        src="../assets/images/banner.png"
        alt="" />

      <img
        *ngIf="isMobile"
        class="object-cover object-right w-full h-full lg:object-center"
        src="../assets/images/imgmobile.png"
        alt="" />
    </a>
  </div>
</section>

<section
  *ngIf="logosList.active === true"
  class="relative py-6 overflow-hidden bg-black sm:py-16 lg:py-10 xl:py-12">
  <div class="absolute top-0 left-0 -translate-x-2/3 -translate-y-[75%]">
    <div
      class="border-[8px] border-white rounded-full w-80 h-80 opacity-20"></div>
  </div>

  <div class="absolute bottom-0 right-0 translate-x-1/3 translate-y-[85%]">
    <div
      class="border-[8px] border-white rounded-full w-80 h-80 opacity-20 sm:opacity-100"></div>
  </div>

  <div class="relative px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div
      class="flex flex-col items-center justify-between text-center lg:text-left lg:flex-row gap-x-10">
      <div class="w-full px-2 sm:px-0">
        <div>
          <h2
            class="text-xl font-bold leading-tight text-white sm:text-2xl lg:text-3xl lg:leading-tight">
            {{ logosList?.main_text }}
          </h2>
          <p class="mt-4 text-base text-gray-50">
            {{ logosList?.secondary_text }}
          </p>
        </div>
      </div>

      <div class="relative mt-12 lg:mt-0">
        <div class="flex overflow-hidden" style="width: 700px">
          <div
            class="flex transition-transform duration-500 ease-in-out"
            [style.transform]="'translateX(-' + currentSlideLogo * 720 + 'px)'">
            <div
              class="flex flex-wrap items-center justify-center gap-4 sm:gap-y-4 md:gap-4"
              style="min-width: 720px">
              <img
                *ngFor="let logo of logosList?.images"
                class="object-contain bg-white rounded-lg py-2 w-32 h-32 max-w-full sm:h-10 md:h-14 sm:w-44"
                [src]="logo.image" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="{{ sectionMap?.slug }}"
  *ngIf="sectionMap.active === true"
  class="pb-10 sm:mt-0 mt-10 bg-white">
  <div class="max-w-7xl px-4 mx-auto sm:px-2 lg:px-2">
    <div class="grid grid-cols-1 mt-2 md:mt-20 gap-y-4 md:grid-cols-2 gap-x-2">
      <div>
        <div
          class="mx-auto text-center sm:text-left md:max-w-lg lg:max-w-2xl md:text-left">
          <h2
            class="text-xl font-bold leading-tight text-black sm:text-3xl lg:text-3xl lg:leading-tight">
            {{ sectionMap?.title }}
          </h2>
        </div>
        <br />
        <p class="mt-4 text-sm text-center sm:text-left text-gray-700">
          {{ sectionMap?.secondary_text }}
        </p>
        <br />

        <div class="flex justify-center sm:justify-start w-full">
          <a
            href="https://wa.me/5511980720119"
            target="_blank"
            title=""
            class="mt-4 sm:mt-0 w-full text-center sm:w-80 px-6 py-4 text-sm font-bold tracking-widest text-white uppercase rounded-xl transition-all duration-200 bg-green-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white hover:bg-gray-700">
            FALAR COM ENGENHEIRO
          </a>
        </div>
      </div>

      <div class="relative overflow-hidden">
        <div class="relative mx-auto">
          <div class="overflow-hidden">
            <!-- Slider Wrapper -->
            <div class="relative w-full col-span-3 mx-auto mb-8">
              <div class="overflow-hidden">
                <!-- Sliding Images -->
                <div
                  class="flex transition-transform duration-500 ease-in-out"
                  [ngStyle]="{
                    transform:
                      'translateX(-' +
                      (currentSlide['sectionMap'] || 0) * 100 +
                      '%)'
                  }">
                  <!-- Render Each Image -->
                  <div
                    *ngFor="let image of sectionMap?.images || []"
                    class="w-full flex-shrink-0">
                    <img
                      [src]="image.image"
                      alt="Slide Image"
                      class="w-full rounded-3xl" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="servico" class="py-12 bg-gray-100 sm:py-16 lg:py-10 xl:py-20">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <!-- Header Section -->
    <div class="w-full lg:max-w-full lg:mx-0 grid sm:flex">
      <h2
        class="text-xl w-full text-center sm:text-start font-semibold tracking-tight text-black sm:text-4xl lg:text-4xl">
        {{ auto?.main_text }}
      </h2>
    </div>

    <!-- Main Grid Layout -->
    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-y-10 lg:gap-x-10 mt-12 lg:mt-16">
      <!-- Topics Section -->
      <div>
        <ul class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <li
            class="rounded-lg bg-white shadow-md p-4 text-gray-950 flex items-center"
            *ngFor="let item of auto?.topics">
            <h3 class="text-base font-medium">
              {{ item?.main_text }}
            </h3>
          </li>
        </ul>
      </div>

      <!-- Image Slider Section -->
      <div class="relative flex items-center justify-center">
        <div class="relative w-full max-w-lg">
          <div class="overflow-hidden rounded-lg">
            <!-- Sliding Images -->
            <div
              class="flex transition-transform duration-500 ease-in-out"
              [ngStyle]="{
                transform:
                  'translateX(-' + (currentSlide['auto'] || 0) * 100 + '%)'
              }">
              <!-- Render Each Image -->
              <div
                *ngFor="let image of auto?.images || []"
                class="w-full flex-shrink-0">
                <img
                  [src]="image.image"
                  alt="Slide Image"
                  class="w-full h-auto object-cover rounded-xl shadow-lg" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section
  id="{{ sectionNr?.slug }}"
  class="py-12 bg-gray-800 sm:py-16 lg:py-20 xl:py-24"
  id="NR12">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="grid grid-cols-1 gap-y-10 lg:grid-cols-7 lg:gap-x-5">
      <div class="lg:col-span-3 lg:order-last">
        <div class="relative overflow-hidden">
          <div class="relative w-full max-w-2xl mx-auto">
            <div class="relative overflow-hidden">
              <div class="relative mx-auto">
                <div class="overflow-hidden">
                  <!-- Slider Wrapper -->

                  <div class="relative w-full col-span-2 mx-auto mb-8">
                    <div class="overflow-hidden">
                      <!-- Sliding Images -->
                      <div
                        class="flex transition-transform duration-500 ease-in-out"
                        [ngStyle]="{
                          transform:
                            'translateX(-' +
                            (currentSlide['sectionNr'] || 0) * 100 +
                            '%)'
                        }">
                        <!-- Render Each Image -->
                        <div
                          *ngFor="let image of sectionNr?.images || []"
                          class="w-full flex-shrink-0">
                          <img
                            [src]="image.image"
                            alt="Slide Image"
                            class="w-full rounded-3xl" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="lg:col-span-4">
        <h2
          class="text-xl flex font-bold text-white sm:text-4xl lg:text-5xl xl:text-4xl">
          <img
            src="../assets/images/nr12.png"
            alt="img"
            width="60"
            height="60"
            style="margin-top: -10px"
            class="mr-3" />
          {{ sectionNr?.main_text }}
        </h2>

        <p class="mt-8 text-sm text-center sm:text-left font-normal text-white">
          {{ sectionNr?.secondary_text }}
        </p>

        <ul
          class="grid font-sans text-sm grid-cols-1 mb-10 mt-8 sm:grid-cols-2 text-white sm:mt-4 gap-x-4 gap-y-4 sm:gap-y-4">
          <div class="rounded-lg" *ngFor="let item of sectionNr?.topics">
            <h3 class="text-sm flex bg-white rounded-md p-3 text-gray-950">
              <svg
                class="w-6 h-6 text-gray-950 mr-2 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              {{ item?.main_text }}
            </h3>
          </div>
        </ul>

        <div class="flex justify-center mb-10 sm:justify-start w-full">
          <a
            href="https://wa.me/5511980720119"
            target="_blank"
            title=""
            class="mt-4 sm:mt-0 w-full text-center sm:w-80 px-6 py-4 text-sm font-bold tracking-widest text-white uppercase rounded-xl transition-all duration-200 bg-green-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white hover:bg-gray-700">
            FALAR COM ENGENHEIRO
          </a>
        </div>
        <b class="text-white sm:text-left text-center w-auto">
          Nosso compromisso é garantir que sua empresa esteja totalmente
          alinhada com os requisitos da NR12, promovendo um ambiente de trabalho
          seguro e em total conformidade legal.
        </b>
      </div>
    </div>
  </div>
</section>

<section
  id="projeto"
  id="{{ sectionProjetos?.slug }}"
  class="py-12 bg-gray-100 sm:py-12 lg:py-12">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 md:items-center gap-y-8 md:grid-cols-10 md:gap-x-16">
      <!-- Coluna da imagem ocupando 3/10 (30%) -->
      <div class="relative w-full col-span-3 mx-auto">
        <div class="relative w-full col-span-3 mx-auto mb-8">
          <div class="overflow-hidden">
            <!-- Sliding Images -->
            <div
              class="flex transition-transform duration-500 ease-in-out"
              [ngStyle]="{
                transform:
                  'translateX(-' +
                  (currentSlide['sectionProjetos'] || 0) * 100 +
                  '%)'
              }">
              <!-- Render Each Image -->
              <div
                *ngFor="let image of sectionProjetos?.images || []"
                class="w-full flex-shrink-0">
                <img
                  [src]="image.image"
                  alt="Slide Image"
                  class="w-full rounded-3xl" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Coluna do texto ocupando 7/10 (70%) -->
      <div class="col-span-7">
        <h2
          class="text-xl font-bold text-gray-900 sm:text-4xl xl:text-4xl font-pj">
          {{ sectionProjetos?.title }}
        </h2>
        <p class="mt-4 text-sm leading-6 text-gray-900 sm:mt-8 font-pj">
          {{ sectionProjetos?.secondary_text }}
        </p>

        <ul class="mt-5 space-y-2 sm:mt-10">
          <div
            class="grid grid-cols-1 mt-8 sm:grid-cols-2 md:mt-16 xl:mt-10 gap-x-2 gap-y-2">
            <div
              class="flex items-start bg-white rounded-md py-3 px-3"
              *ngFor="let item of sectionProjetos?.topics | slice : 0 : 7">
              <svg
                class="w-6 h-6 text-gray-700 shrink-0"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
              </svg>
              <h3 class="ml-3 text-xs font-medium text-gray-900">
                <span class="font-bold w-full text-sm text-gray-900">{{
                  item?.main_text
                }}</span
                ><br />
                {{ item?.secondary_text }}
              </h3>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <section>
    <div class="mt-10">
      <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
        <div class="grid grid-cols-1 lg:grid-cols-5 gap-y-20 lg:gap-x-16">
          <div
            *ngFor="
              let item of sectionProjetos?.topics | slice : 7;
              let i = index
            "
            class="relative flex flex-row items-start lg:flex-col">
            <span
              class="absolute w-px h-full -ml-px border-l-2 border-gray-200 border-dashed lg:border-l-0 lg:border-t-2 top-16 left-6 sm:left-8 lg:w-full lg:h-0 lg:top-8 lg:left-0"
              aria-hidden="true"></span>

            <div
              class="inline-flex items-center justify-center ring-[20px] lg:ring-[0] ring-transparent relative w-12 h-12 text-xl font-medium text-white bg-gray-800 rounded-full shrink-0 sm:text-3xl sm:h-16 sm:w-16">
              {{ i + 1 }}
            </div>

            <div class="ml-6 lg:ml-0 lg:mt-8">
              <h3 class="text-sm font-semibold text-gray-900">
                {{ item?.main_text }}
              </h3>
              <p class="mt-4 text-sm font-normal text-gray-700">
                {{ item?.secondary_text }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section
  id="{{ clima?.slug }}"
  class="py-12 bg-white sm:py-16 lg:py-20 xl:py-14">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="grid grid-cols-1 lg:grid-cols-8 lg:gap-x-6 xl:gap-x-6 gap-y-6">
      <div class="flex flex-col justify-between lg:col-span-5 xl:pr-24">
        <div class="max-w-lg lg:max-w-none">
          <h2
            class="mt-6 text-xl font-bold tracking-tight text-gray-900 sm:text-4xl lg:text-5xl">
            {{ clima?.title }}
          </h2>
          <p class="text-sm mb-3 mt-3 font-semibold text-gray-700">
            {{ clima?.secondary_text }}
          </p>
        </div>

        <div
          class="grid grid-cols-1 mt-4 sm:grid-cols-1 md:mt-1 xl:mt-1 gap-x6 gap-y-8">
          <div class="flex items-start" *ngFor="let item of clima?.topics">
            <svg
              class="w-6 h-6 text-gray-600 shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <h3 class="ml-3 text-sm font-medium text-gray-900">
              <b>{{ item.main_text }}</b
              ><br />
              <span class="font-regular text-sm">
                {{ item.secondary_text }}</span
              >
            </h3>
          </div>
        </div>
        <div class="flex mt-10 justify-centersm:justify-start w-full">
          <a
            href="https://wa.me/5511980720119"
            target="_blank"
            title=""
            class="mt-4 sm:mt-0 w-full text-center sm:w-80 px-6 py-4 text-sm font-bold tracking-widest text-white uppercase rounded-xl transition-all duration-200 bg-green-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white hover:bg-gray-700">
            FALAR COM ENGENHEIRO
          </a>
        </div>
      </div>

      <div class="lg:col-span-3">
        <div class="relative w-full col-span-3 mx-auto">
          <div class="overflow-hidden">
            <!-- Sliding Images -->
            <div
              class="flex transition-transform duration-500 ease-in-out"
              [ngStyle]="{
                transform:
                  'translateX(-' + (currentSlide['clima'] || 0) * 100 + '%)'
              }">
              <!-- Render Each Image -->
              <div
                *ngFor="let image of clima?.images || []"
                class="w-full flex-shrink-0">
                <img
                  [src]="image.image"
                  alt="Slide Image"
                  class="w-full rounded-3xl" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="{{ sectionLinha?.slug }}"
  class="bg-gray-100 py-10 sm:py-16 lg:py-20 xl:py-24"
  id="vida">
  <div class="px-4 mx-auto sm:px-6 max-w-7xl">
    <div
      class="grid grid-cols-1 lg:grid-cols-8 lg:gap-x-16 xl:gap-x-24 gap-y-12">
      <div class="flex flex-col justify-between lg:col-span-5 xl:pr-15">
        <div class="max-w-lg lg:max-w-none">
          <p class="text-sm font-semibold text-gray-800">
            Consultoria técnica para análise, adequação e recomendação
          </p>
          <h2
            class="mt-6 text-xl font-bold tracking-tight text-gray-900 lg:mt-8 sm:text-4xl lg:text-5xl">
            {{ sectionLinha?.main_text }}
          </h2>
        </div>
        <span class="text-sm mt-6 font-regular text-gray-600 w-10/12">
          {{ sectionLinha?.secondary_text }}
        </span>

        <div
          class="grid grid-cols-1 mt-8 sm:grid-cols-3 md:mt-16 xl:mt-10 gap-x-3 gap-y-4">
          <div
            class="flex items-start bg-white rounded-md py-3 px-3"
            *ngFor="let item of sectionLinha.topics | slice : 0 : 3">
            <svg
              class="w-6 h-6 text-gray-700 shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <h3 class="ml-3 text-sm font-medium text-gray-900">
              <span class="font-bold w-full text-sm text-gray-900">{{
                item?.main_text
              }}</span
              ><br />
              {{ item?.secondary_text }}
            </h3>
          </div>
        </div>

        <div class="flex mt-10 justify-centersm:justify-start w-full">
          <a
            href="https://wa.me/5511980720119"
            target="_blank"
            title=""
            class="mt-4 sm:mt-0 w-full text-center sm:w-80 px-6 py-4 text-sm font-bold tracking-widest text-white uppercase rounded-xl transition-all duration-200 bg-green-600 border border-transparent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-900 focus:ring-white hover:bg-gray-700">
            FALAR COM ENGENHEIRO
          </a>
        </div>
      </div>

      <div class="lg:col-span-3">
        <div class="relative w-full max-w-3xl mx-auto">
          <div class="overflow-hidden">
            <!-- Sliding Images -->
            <div
              class="flex transition-transform duration-500 ease-in-out"
              [ngStyle]="{
                transform:
                  'translateX(-' +
                  (currentSlide['sectionLinha'] || 0) * 100 +
                  '%)'
              }">
              <!-- Render Each Image -->
              <div
                *ngFor="let image of sectionLinha?.images || []"
                class="w-full flex-shrink-0">
                <img
                  [src]="image.image"
                  alt="Slide Image"
                  class="w-full rounded-3xl" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <section class="bg-gray-100">
    <section class="">
      <div class="mx-auto px-4 sm:px-6 max-w-7xl mt-10">
        <span class="w-full font-bold text-center">
          Oferecemos um conjunto abrangente de serviços, incluindo:
        </span>

        <div
          class="grid w-full grid-cols-1 gap-y-4 sm:gap-y-10 lg:grid-cols-2 xl:grid-cols-4 lg:gap-x-2 mt-12 lg:mt-10">
          <div
            class="bg-white p-3 grid rounded-lg"
            *ngFor="let item of sectionLinha.topics | slice : 3">
            <h3 class="text-sm grid text-black">
              <div class="flex">
                <svg
                  class="w-6 h-6 text-gray-300 mr-3 shrink-0"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <b>{{ item?.main_text }}</b>
              </div>
              <div class="ml-9">
                {{ item?.secondary_text }}
              </div>
            </h3>
          </div>
        </div>
      </div>
    </section>
  </section> -->
</section>

<section
  id="{{ sectionInstalacao?.slug }}"
  *ngIf="sectionInstalacao.active === true"
  class="py-12 sm:py-16 lg:py-10">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="text-center">
      <h1 class="text-xl font-bold sm:text-5xl lg:text-4xl">
        {{ sectionInstalacao?.main_text }}
      </h1>
      <p class="mt-4 max-w-2xl mx-auto text-sm sm:text-xs text-gray-800">
        {{ sectionInstalacao?.secondary_text }}
      </p>
    </div>
  </div>
</section>

<section
  *ngIf="sectionInstalacao.active === true"
  class="py-12 mb-10 sm:py-10 lg:py-4 bg-white">
  <div class="px-4 mx-auto sm:px-6 lg:px-4 max-w-7xl">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-y-20 lg:gap-x-16">
        <div
          class="relative flex flex-row items-start lg:flex-col"
          *ngFor="let item of sectionInstalacao?.topics; let i = index">
          <span
            class="absolute w-px h-full -ml-px border-l-2 border-gray-200 border-dashed lg:border-l-0 lg:border-t-2 top-16 left-6 sm:left-8 lg:w-full lg:h-0 lg:top-8 lg:left-0"
            aria-hidden="true"></span>

          <div
            class="inline-flex items-center justify-center ring-[20px] lg:ring-[0] ring-white relative w-12 h-12 text-xl font-medium text-white bg-gray-800 rounded-full shrink-0 sm:text-3xl sm:h-16 sm:w-16">
            {{ i + 1 }}
          </div>
          <div class="ml-6 lg:ml-0 lg:mt-8">
            <h3 class="text-sm font-semibold text-gray-900">
              {{ item?.main_text }}
            </h3>
            <p class="mt-4 text-sm font-normal text-gray-700">
              {{ item?.secondary_text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="{{ sectionLaudos?.slug }}" *ngIf="sectionLaudos.active === true">
  <div class="relative bg-gray-800">
    <div class="h-56 sm:h-72 md:absolute md:right-0 md:h-full md:w-1/2">
      <div class="h-full w-full mr-0 max-w-3xl mx-auto relative">
        <div class="overflow-hidden h-full">
          <div
            class="flex transition-transform duration-500 ease-in-out"
            [ngStyle]="{
              transform:
                'translateX(-' +
                (currentSlide['sectionLaudos'] || 0) * 100 +
                '%)'
            }">
            <!-- Render Each Image -->
            <div
              *ngFor="let image of sectionLaudos?.images || []"
              class="w-full flex-shrink-0">
              <img
                [src]="image.image"
                alt="Slide Image"
                class="w-full sm:mt-0 mt-2" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="relative px-4 pb-12 mx-auto max-w-7xl sm:px-6 lg:px-8 sm:py-16">
      <div class="md:mr-auto md:w-1/2 md:pr-10">
        <h2
          class="text-xl font-bold tracking-tight text-white sm:text-4xl lg:text-4xl">
          {{ sectionLaudos?.main_text }}
        </h2>
        <p
          class="mt-4 text-sm font-normal leading-4 text-white lg:text-sm lg:mt-6 lg:leading-7">
          {{ sectionLaudos?.secondary_text }}
        </p>
      </div>
    </div>
  </div>

  <div class="py-12 bg-gray-100 sm:py-16 lg:py-20 xl:py-10">
    <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-y-20 lg:gap-x-16">
        <div
          class="relative flex flex-row items-start lg:flex-col"
          *ngFor="let item of sectionLaudos?.topics; let i = index">
          <span
            class="absolute w-px h-full -ml-px border-l-2 border-gray-200 border-dashed lg:border-l-0 lg:border-t-2 top-16 left-6 sm:left-8 lg:w-full lg:h-0 lg:top-8 lg:left-0"
            aria-hidden="true"></span>

          <div
            class="inline-flex items-center justify-center ring-[20px] lg:ring-[36px] ring-gray-100 relative w-12 h-12 text-xl font-medium text-white bg-gray-800 rounded-full shrink-0 sm:text-3xl sm:h-16 sm:w-16">
            {{ i + 1 }}
          </div>
          <div class="ml-6 lg:ml-0 lg:mt-8">
            <h3 class="text-sm font-semibold text-gray-900">
              {{ item?.main_text }}
            </h3>
            <p class="mt-4 text-sm font-normal text-gray-700">
              {{ item?.secondary_text }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="{{ listTestemunhas?.slug }}"
  *ngIf="listTestemunhas.active === true"
  class="py-12 bg-white sm:py-16 lg:py-10 xl:py-10 mb-12">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-2xl mx-auto text-center">
      <h2
        class="mt-6 text-xl font-semibold tracking-tight text-gray-900 sm:text-4xl lg:text-3xl lg:mt-8">
        A satisfação do cliente é o nosso compromisso
      </h2>
    </div>
    <div
      *ngIf="listTestemunhas?.length > 0"
      class="testimonial-carousel flex flex-col items-center">
      <!-- Current Testimonial -->
      <div
        class="testimonial-card p-6 mt-4 max-w-md mx-auto bg-white rounded-xl flex items-center space-x-4">
        <div class="flex-shrink-0">
          <img
            class="h-12 w-12 rounded-full"
            [src]="listTestemunhas[currentTestimonialIndex]?.image"
            [alt]="listTestemunhas[currentTestimonialIndex]?.name" />
        </div>
        <div>
          <div class="text-xl font-medium text-black">
            {{ listTestemunhas[currentTestimonialIndex]?.name }}
          </div>
        </div>
      </div>
      <p class="mt-4 text-center text-gray-600 min-h-20">
        {{ listTestemunhas[currentTestimonialIndex]?.text }}
      </p>

      <!-- Navigation -->
      <div class="flex justify-between mt-6 w-full max-w-md">
        <!-- Previous Button -->
        <button
          class="text-gray-600 hover:text-gray-900"
          (click)="prevTestimonial()">
          ←
        </button>

        <!-- Dots Indicator -->
        <div class="flex space-x-2">
          <span
            *ngFor="let testimonial of listTestemunhas; let i = index"
            class="h-2 w-2 rounded-full"
            [ngClass]="{
              'bg-gray-600': i === currentTestimonialIndex,
              'bg-gray-300': i !== currentTestimonialIndex
            }"></span>
        </div>

        <!-- Next Button -->
        <button
          class="text-gray-600 hover:text-gray-900"
          (click)="nextTestimonial()">
          →
        </button>
      </div>
    </div>
  </div>
</section>
<app-blog-items></app-blog-items>
<section id="contato" class="py-10 bg-gray-100 sm:py-16 lg:py-24">
  <div class="px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
    <div class="max-w-2xl mx-auto text-center">
      <h2
        class="text-xl font-bold leading-tight text-gray-900 sm:text-4xl lg:text-5xl">
        Fale conosco
      </h2>
      <p class="max-w-xl mx-auto mt-4 text-base leading-relaxed text-gray-500">
        Preencha os dados abaixo para entrar em contato
      </p>
    </div>

    <div class="max-w-5xl mx-auto mt-12 sm:mt-16">
      <div class="mt-6 overflow-hidden bg-white rounded-xl">
        <div class="px-6 py-12 sm:p-12">
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="mt-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-5 gap-y-4">
              <div>
                <label for="name" class="text-base font-medium text-gray-900">
                  Nome completo
                </label>
                <div class="mt-2.5">
                  <input
                    type="text"
                    id="name"
                    formControlName="name"
                    placeholder="Informe seu nome completo"
                    class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600" />
                </div>
              </div>

              <div>
                <label for="email" class="text-base font-medium text-gray-900">
                  Email
                </label>
                <div class="mt-2.5">
                  <input
                    type="email"
                    id="email"
                    formControlName="email"
                    placeholder="Informe seu email"
                    class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600" />
                </div>
              </div>

              <div>
                <label for="phone" class="text-base font-medium text-gray-900">
                  Telefone
                </label>
                <div class="mt-2.5">
                  <input
                    type="tel"
                    id="phone"
                    formControlName="phone"
                    placeholder="Informe seu telefone"
                    class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600" />
                </div>
              </div>

              <div>
                <label
                  for="company"
                  class="text-base font-medium text-gray-900">
                  Empresa
                </label>
                <div class="mt-2.5">
                  <input
                    type="text"
                    id="company"
                    formControlName="company"
                    placeholder="Empresa"
                    class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600" />
                </div>
              </div>

              <div class="sm:col-span-2">
                <label
                  for="message"
                  class="text-base font-medium text-gray-900">
                  Mensagem
                </label>
                <div class="mt-2.5">
                  <textarea
                    id="message"
                    formControlName="text"
                    placeholder="Digite sua mensagem"
                    class="block w-full px-4 py-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md resize-y focus:outline-none focus:border-blue-600 caret-blue-600"
                    rows="4"></textarea>
                </div>
              </div>

              <div class="sm:col-span-2">
                <button
                  type="submit"
                  [disabled]="contactForm.invalid"
                  class="inline-flex items-center justify-center w-full px-4 py-4 mt-2 text-base font-semibold text-white transition-all duration-200 bg-gray-600 border border-transparent rounded-md focus:outline-none hover:bg-gray-700 focus:bg-gray-700 disabled:opacity-50">
                  Enviar mensagem
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
